# https://jasonstitt.com/gitignore-whitelisting-patterns


# Folder to not ignore
!/fish/
!/fish/functions/*
/fish_varibles/fish_variables
!/keyboard/*


# jrnl
!/jrnl/**/*


# lazygit
lazygit
!/lazygit/config.yml

# Folders to ignore
yarn/
coc/

todo.md
.env.local

pgcli/history
pgcli/log
fish/fish_variables