# https://jasonstitt.com/gitignore-whitelisting-patterns

# Ignore everything in repository root 
*
!*/


# Files to not ignore
!/.gitignore
!Hyper/.hyper.js
readme.md

# Folder to not ignore
!/fish/
!/fish/functions/*

# Neovim
!/nvim/*
nvim/plugged
nvim/.netrwhist

# Kitty Terminal
!kitty/*

# Ranger
!ranger/*

# Awesome WM
!awesome/*
!awsome/.git

!rofi/*
!rofi/**/*


# Folders to ignore
yarn/
coc/

