# https://jasonstitt.com/gitignore-whitelisting-patterns

# Ignore everything in repository root 



# Files to not ignore
!/.gitignore

# Folder to not ignore
!/fish/
!/fish/functions/*
!/fish_varibles/fish_variables
!/keyboard/*

# Kitty Terminal
!kitty/*

# Ranger
!ranger/*

# Awesome WM
!awesome/*
!awsome/.git

!rofi/*
!rofi/**/*

# jrnl
!/jrnl/**/*

# pgcli
!/pgcli/config

# lazygit
lazygit
!/lazygit/config.yml

# Folders to ignore
yarn/
coc/

todo.md
