[user]
	email = {{ .gitmail }} 
	name = {{ .gitname }}
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status

[core]
  pager = delta

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false
