@define-color red {{ .theme.red }};
@define-color yellow {{ .theme.yellow }};
@define-color blue-light {{ .theme.sky }};
@define-color purple {{ .theme.mauve }};
@define-color base {{ .theme.base }};

