#!/bin/sh

{{ template "script-utils.sh" . }}

log_info "Changing default shell to fish"  
if ! [[ "$SHELL" == *fish ]] ; then
  chsh -s $(which fish)
fi


log_info "Installing fisher package manager"  
if ! command -v fisher &>/dev/null; then
  curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
fi

log_info "Install fish plugins"  
fisher update
